# common aliases

{{- if lookPath "bat" }}
## Alias cat to use bat
alias cat='bat'
{{- end }}

{{- if lookPath "z" }}
## Alias cd to use zoxide
alias cd='z'
{{- end }}

## fd show hidden files by default
alias fd='fd --hidden'

{{- if lookPath "eza" }}
## ls aliases
alias ls='eza'
alias l='ls --long --header --git --group-directories-first --time-style relative'
alias ll='ls --long --header --git --group-directories-first --time-style relative'
alias la='ls --long --all --header --git --group-directories-first --time-style relative'
alias lt='ls --long --all --header --git --group-directories-first --time-style relative --git-ignore --tree'
{{- end }}

## neofetch
alias neofetch='fastfetch'

## Shorten commands
alias cm='chezmoi'
alias e=$EDITOR
alias e.='e .'
alias g='git'
alias lg='lazygit'
alias x="exit"

## Vim
alias v='nvim'
alias vi='nvim'
alias vim='nvim'

## Edit and reload zsh config
alias zshconfig="chezmoi edit --apply ~/.zshrc"
alias reload="source ~/.zshenv && source ~/.zshrc"

## Edit NixOS config
alias enos="(cd ~/nixos && $EDITOR)"
alias anos="~/nixos/nixos-rebuild.sh"
alias update="(cd ~/nixos && nix flake update)"

## just
alias j="just"
alias jg="just --global-justfile"

# List processes on port
function on-port {
    lsof -i :"$@"
}

function tunnel {
    local LOCAL_PORT = ${1:-${PORT:-3000}}
    echo "localhost:${LOCAL_PORT} available at https://local.1sv.me/"
    cloudflared tunnel run --url "http://localhost:${LOCAL_PORT}" local
}

function wttr {
    local location
    if [[ -n $* ]]; then
        location="${1// /+}"
    else
        location="{{ .location }}"
    fi
    curl -fGsS --compressed "wttr.in/${location}"
}

# vim:ft=zsh
