{{ if eq .chezmoi.os "windows" -}}

{{- if lookPath "gh" }}
{{- range .packages.darwin.gh }}
gh extension install {{ . }}
{{- end }}
{{- end }}

{{- if lookPath "go" }}
{{- range .packages.windows.go }}
go install {{ . }}
{{- end }}
{{- end }}

{{- if lookPath "pip" }}
$PipTempFile = New-TemporaryFile

@'
{{- range .packages.windows.pip }}
{{ . }}
{{- end }}
'@ | Out-File $PipTempFile

pip install -r $PipTempFile

Remove-Item $PipTempFile
{{- end }}

# https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.psresourceget/
{{- range .packages.windows.psresourceget }}
Install-PSResource -Name {{ . }}
{{- end }}

{{- if lookPath "winget" }}
$WingetTempFile = New-TemporaryFile

@'
{
    "$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
    "Sources" :
    [
        {
            "Packages" :
            [
{{- range .packages.windows.winget }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
{{- if .personal }}
{{- range .packagesPersonal.windows.winget }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
{{- end }}
            ],
            "SourceDetails" :
            {
                "Argument" : "https://cdn.winget.microsoft.com/cache",
                "Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
                "Name" : "winget",
                "Type" : "Microsoft.PreIndexed.Package"
            }
        },
        {
            "Packages" :
            [
{{- range .packages.windows.msstore }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
{{- if .personal }}
{{- range .packagesPersonal.windows.msstore }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
{{- end }}
            ],
            "SourceDetails" :
            {
                "Argument" : "https://storeedgefd.dsx.mp.microsoft.com/v9.0",
                "Identifier" : "StoreEdgeFD",
                "Name" : "msstore",
                "Type" : "Microsoft.Rest"
            }
        }
    ]
}
'@ | Out-File $WingetTempFile

winget import -i $WingetTempFile --ignore-unavailable --no-upgrade --accept-package-agreements

Remove-Item $WingetTempFile
{{- end }}

{{ end -}}

# vim:ft=ps1
