#!/usr/bin/env bash
{{- if eq .chezmoi.os "darwin" }}

{{- if lookPath "brew" }}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{- end }}

{{- if lookPath "go" }}
{{- range .packages.darwin.go }}
go install {{ . }}
{{- end }}
{{- end }}

{{- end }}
# vim:ft=sh
