{{ if eq .chezmoi.os "windows" -}}

{{- if lookPath "pip" }}
Write-Host ""
Write-Host "Installing Python packages..."
Write-Host ""

$PipTempFile = New-TemporaryFile

@'
{{- range .packages.windows.pip }}
{{ . }}
{{- end }}
'@ | Out-File $PipTempFile

pip install -r $PipTempFile

Remove-Item $PipTempFile
{{- end }}

{{ end -}}

# vim:ft=ps1
