{{ if eq .chezmoi.os "windows" -}}

$TempFile = New-TemporaryFile

@'
{
    "$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
    "Sources" :
    [
        {
            "Packages" :
            [
{{- range .packages.windows.winget }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
            ],
            "SourceDetails" :
            {
                "Argument" : "https://cdn.winget.microsoft.com/cache",
                "Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
                "Name" : "winget",
                "Type" : "Microsoft.PreIndexed.Package"
            }
        }
    ]
}
'@ | Out-File $TempFile

winget import -i $TempFile --ignore-unavailable --no-upgrade

Remove-Item $TempFile

{{- if lookPath "pip" }}
# install pre-commit with pip as it is not available on winget
# hash: {{ include "requirements.txt" | sha256sum }}
pip install -r {{ joinPath .chezmoi.sourceDir "requirements.txt" }}
{{- end }}

{{- if lookPath "go" }}
{{- range .packages.all.go }}
go install {{ . }}
{{- end }}
{{- end }}

{{ end -}}

# vim:ft=ps1
