{{ if eq .chezmoi.os "windows" -}}

{{- if lookPath "dotnet" }}
Write-Host ""
Write-Host "Installing .NET packages..."
Write-Host ""

{{- range .packages.windows.dotnet }}
# Install after winget so we have latest SDK available
dotnet tool install -g {{ . }}
{{- end }}
{{- end }}

{{ end -}}

# vim:ft=ps1
