[".config/bat/themes/tokyonight_night.tmTheme"]
    type = "file"
    url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/tokyonight_night.tmTheme"
    refreshPeriod = "168h"
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".themes/tokyonight.nvim"]
    type = "archive"
    url = "https://github.com/folke/tokyonight.nvim/archive/main.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" }}
# Linux specific
[".local/bin/dcli"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "Dashlane/dashlane-cli" "dcli-linux-x64" | quote }}
    refreshPeriod = "168h"
    executable = true
[".local/bin/hjson"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "hjson/hjson-go" "hjson_*_linux_amd64.tar.gz" | quote }}
    path = "./hjson"
    refreshPeriod = "168h"
    executable = true

{{ else if eq .chezmoi.os "darwin" }}
# macOS specific
[".local/bin/hjson"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "hjson/hjson-go" "hjson_*_darwin_amd64.tar.gz" | quote }}
    path = "./hjson"
    refreshPeriod = "168h"
    executable = true

{{ else if eq .chezmoi.os "windows" }}
# Windows specific
[".cargo/bin/cargo-binstall.exe"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "cargo-bins/cargo-binstall" "cargo-binstall-x86_64-pc-windows-msvc.zip" | quote }}
    path = "cargo-binstall.exe"
    refreshPeriod = "168h"
    executable = true
[".config/komorebi/applications.yaml"]
    type = "file"
    url = "https://raw.githubusercontent.com/LGUG2Z/komorebi-application-specific-configuration/master/applications.yaml"
    refreshPeriod = "168h"
[".local/bin/dcli.exe"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "Dashlane/dashlane-cli" "dcli-win-x64-signed.exe" | quote }}
    refreshPeriod = "168h"
    executable = true
[".local/bin/diff.exe"]
	type = "file"
	url = "https://github.com/neovim/deps/raw/21c5e8bdda33521a6ed497b315e03265a2785cbc/opt/diff.exe"
    refreshPeriod = "168h"
[".local/bin/hjson.exe"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "hjson/hjson-go" "hjson_*_windows_amd64.zip" | quote }}
    path = "hjson.exe"
    refreshPeriod = "168h"
    executable = true
[".local/bin/pet.exe"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "knqyf263/pet" "pet_*_windows_amd64.tar.gz" | quote }}
    path = "pet.exe"
    refreshPeriod = "168h"
    executable = true
[".local/bin/slumber.exe"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "LucasPickering/slumber" "slumber-x86_64-pc-windows-msvc.zip" | quote }}
    path = "slumber.exe"
    refreshPeriod = "168h"
    executable = true
[".local/git-extras"]
    type = "git-repo"
    url = "https://github.com/tj/git-extras"
    refreshPeriod = "168h"
["fonts"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k-media/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    include = ["*/*.ttf"]
{{ end }}

# vim:ft=toml
