# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/

{{- $email := promptString "Git email address for the author/committer" }}

encryption = "age"

[age]
identity = "~/.keys/chezmoi.txt"
recipient = "age1854gyefj8vf0qzpfxldjzremfg69fmawcmgwnve8d4equgvl99qslgywr8"

[data]
email = {{ $email | quote }}

[diff]
exclude = ["scripts"]

# vim:ft=toml
