# ~/.gitconfig
# =============================================================================
# Git config file
#
# See:
# - https://git-scm.com/docs/git-config

[include]
	# Store git aliases in a seperate file as there are a lot of them
	path = ~/.gitalias
	# Store git maintenance in a seperate file as it is different on each machine
	path = ~/.gitmaintenance
	# Delta theme
	path = ~/.themes/tokyonight.nvim/extras/delta/tokyonight_night.gitconfig

[blame]
	date = relative
	coloring = highlightRecent
[branch]
	sort = -committerdate
[color]
	ui = auto
[color "blame"]
	highlightRecent = 237, 20 month ago, 238, 19 month ago, 239, 18 month ago, 240, 17 month ago, 241, 16 month ago, 242, 15 month ago, 243, 14 month ago, 244, 13 month ago, 245, 12 month ago, 246, 11 month ago, 247, 10 month ago, 248, 9 month ago, 249, 8 month ago, 250, 7 month ago, 251, 6 month ago, 252, 5 month ago, 253, 4 month ago, 254, 3 month ago, 231, 2 month ago, 230, 1 month ago, 229, 3 weeks ago, 228, 2 weeks ago, 227, 1 week ago, 226
[color "branch"]
	current = green bold
	local = yellow dim
	remote = blue
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[commit]
	template = ~/.gitmessage
	verbose = true
[core]
	autocrlf = input
	pager = delta
	ignorecase = false
[credential "https://github.com"]
	helper =
	helper = {{ template "gh_credential_helper" . }}
[credential "https://gist.github.com"]
	helper =
	helper = {{ template "gh_credential_helper" . }}

[delta]
	syntax-theme = tokyonight_night
	navigate = true
	dark = true
	side-by-side = false
	file-modified-label = modified:
	features = unobtrusive-line-numbers decorations
[delta "decorations"]
	file-style = bold yellow ul
	file-decoration-style = ul "#555555"
	hunk-header-decoration-style = omit
	commit-decoration-style = none
[delta "unobtrusive-line-numbers"]
	line-numbers = true
	line-numbers-minus-style = "#3d4163"
	line-numbers-zero-style = "#3d4163"
	line-numbers-plus-style = "#3d4163"
	line-numbers-left-style = "#3d4163"
	line-numbers-right-style = "#3d4163"
	line-numbers-left-format = "{nm:>4}│"
	line-numbers-right-format = "{np:>4}│"

[diff]
	algorithm = histogram
	colorMoved = default
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[grep]
	lineNumber = true
[init]
	defaultBranch = main
	templateDir = ~/.config/git/templates
[interactive]
	diffFilter = delta --color-only --features ''
[merge]
	conflictstyle = diff3
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d $MERGED $LOCAL $BASE $REMOTE -c '$wincmd J' -c 'wincmd ='
[pager]
        difftool = true
[pull]
	ff = only
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
    updateRefs = true
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
[tag]
	sort = -version:refname

# alias GitHub's URL to "gh:" for use in clone etc.
[url "https://github.com/"]
	insteadOf = gh:

[user]
	email = {{ .email }}
	name = Sam Vendittelli
[versionsort]
	prefix = -

# vim:ft=gitconfig
