[include]
	# Store git aliases in a seperate file as there are a lot of them
	path = ~/.gitalias

[branch]
	sort = -authordate
[color]
	ui = auto
[color "branch"]
	local = yellow
	remote = blue
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[commit]
	template = ~/.gitmessage
[core]
	autocrlf = input
	pager = less -FRX
	ignorecase = false
[credential "https://github.com"]
	helper = 
	helper = {{ template "gh_credential_helper" . }}
[credential "https://gist.github.com"]
	helper = 
	helper = {{ template "gh_credential_helper" . }}
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[grep]
	lineNumber = true
[init]
	defaultBranch = main

# run "git maintenance register" in a repo to let it be automatically optimized. See: https://git-scm.com/docs/git-maintenance
[maintenance]

[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[status]
	showUntrackedFiles = all
[tag]
	sort = -version:refname

# alias GitHub's URL to "gh:" for use in clone etc.
[url "https://github.com/"]
	insteadOf = gh:

[user]
	email = {{ .email }}
	name = Sam Vendittelli
[versionsort]
	prefix = -
[web]
	browser = firefox

# vim:ft=gitconfig
