# ~/.npmrc
# =============================================================================
# npm config file
#
# See:
# - https://docs.npmjs.com/cli/v10/configuring-npm/npmrc

audit=false

email={{ .email }}

fund=false

init-author-email={{ .email }}
init-author-name=Sam Vendittelli
init-licence=MIT
init-version=0.1.0

# vim:ft=dosini
