# chezmoi:template:missing-key=invalid
{{- $personal := .personal -}}
{{- if eq .chezmoi.os "windows" -}}
{{- if lookPath "pip" -}}
Write-Header "Installing Python packages..."

# Get the latest version of pip
python -m pip install --upgrade pip wheel

$PipTempFile = New-TemporaryFile

@'
{{- range .packages }}
{{- if and (.personal) (not $personal) }}{{ continue }}{{ end }}
{{- with .platforms.windows.pip }}
{{- if . }}
{{ . }}
{{- end }}
{{- end }}
{{- end }}
'@ | Out-File $PipTempFile

python -m pip install -r $PipTempFile

Remove-Item $PipTempFile

Write-Done
{{- end -}}
{{- end }}

# vim:ft=ps1
