# chezmoi:template:missing-key=invalid
{{- $personal := .personal -}}
{{- if eq .chezmoi.os "windows" -}}
{{- if lookPath "WinDebloat" -}}
Write-Header "Running WinDebloat..."

# windebloat new version detection: {{ (gitHubLatestTag "SimonCropp/WinDebloat").Name }}

WinDebloat --include {{ range .windebloat.include }}{{ . }} {{ end }} --exclude {{ range .windebloat.exclude }}{{ . }} {{ end }}

Write-Done
{{- end -}}
{{- end }}

# vim:ft=ps1
