# chezmoi:template:missing-key=invalid
{{- $personal := .personal -}}
{{- if eq .chezmoi.os "windows" -}}
Write-Header "Enabling required experimental features..."

{{- range .experimental.ps }}
Enable-ExperimentalFeature {{ . }}
{{- end }}

Write-Done

Write-Header "Installing PowerShell modules..."

# https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.psresourceget/

{{- range .packages }}
{{- if and (.personal) (not $personal) }}{{ continue }}{{ end }}
{{- with .platforms.windows.psget }}
{{- if . }}
Install-Module -Name {{ . }}
{{- end }}
{{- end }}
{{- end }}

Write-Done
{{- end }}

# vim:ft=ps1
