{{ if eq .chezmoi.os "windows" -}}

{{- if lookPath "git" }}
Write-Header "Installing git-extras..."

cd "$Env:USERPROFILE\.local\git-extras"

# Checkout the latest tag
git checkout tags/{{ (gitHubLatestRelease "tj/git-extras").TagName }} --quiet

# Run the install script
Start-Process -Verb RunAs -Wait -FilePath .\install.cmd

# Checkout the main branch so the latest version can alway be pulled
git checkout main --quiet

Write-Done
{{- end }}

{{- end }}
# vim:ft=ps1
