# chezmoi:template:missing-key=invalid
{{- $personal := .personal -}}
{{- if eq .chezmoi.os "windows" -}}
{{- if lookPath "cargo" -}}
Write-Header "Installing cargo packages..."

cargo install --locked {{ range .packages -}}
{{- if and (.personal) (not $personal) }}{{ continue }}{{ end -}}
{{- with .platforms.windows.cargo -}}
{{- if . }}{{ . }} {{ end -}}
{{- end }}
{{- end }}

Write-Done
{{- end -}}
{{- end }}

# vim:ft=ps1
