# chezmoi:template:missing-key=invalid
{{- $personal := .personal -}}
{{- if eq .chezmoi.os "windows" -}}
{{- if lookPath "fnm" -}}
Write-Header "Installing latest Node.js LTS..."

fnm install --lts
fnm default lts-latest

Write-Header "Installing npm packages..."

npm install --global {{ range .packages -}}
{{- if and (.personal) (not $personal) }}{{ continue }}{{ end -}}
{{- with .platforms.all.npm -}}
{{- if . }}{{ . }} {{ end -}}
{{- end }}
{{- end }}

corepack enable

Write-Done
{{- end -}}
{{- end }}

# vim:ft=ps1
