# chezmoi:template:missing-key=invalid
{{- $personal := .personal -}}
{{- if eq .chezmoi.os "windows" -}}
{{- if lookPath "winget" -}}
Write-Header "Installing winget packages..."

$WingetTempFile = New-TemporaryFile

@'
{
    "$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
    "Sources" :
    [
        {
            "Packages" :
            [
{{- range .packages }}
{{- if and (.personal) (not $personal) }}{{ continue }}{{ end }}
{{- with .platforms.windows.winget }}
{{- if . }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
{{- end }}
{{- end }}
            ],
            "SourceDetails" :
            {
                "Argument" : "https://cdn.winget.microsoft.com/cache",
                "Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
                "Name" : "winget",
                "Type" : "Microsoft.PreIndexed.Package"
            }
        },
        {
            "Packages" :
            [
{{- range .packages }}
{{- if and (.personal) (not $personal) }}{{ continue }}{{ end }}
{{- with .platforms.windows.msstore }}
{{- if . }}
                {
                    "PackageIdentifier" : {{ . | quote }}
                },
{{- end }}
{{- end }}
{{- end }}
            ],
            "SourceDetails" :
            {
                "Argument" : "https://storeedgefd.dsx.mp.microsoft.com/v9.0",
                "Identifier" : "StoreEdgeFD",
                "Name" : "msstore",
                "Type" : "Microsoft.Rest"
            }
        }
    ]
}
'@ | Out-File $WingetTempFile

winget import -i $WingetTempFile --ignore-unavailable --no-upgrade --accept-package-agreements

Remove-Item $WingetTempFile

Write-Done
{{- end -}}
{{- end }}

# vim:ft=ps1
