import = [
    "~/.themes/tokyonight.nvim/extras/alacritty/tokyonight_night.toml"
]

working_directory = {{ .chezmoi.homeDir | quote }}

{{ if eq .chezmoi.os "windows" -}}
[shell]
program = "powershell"
args = ["pwsh"]
{{- end }}

[window]
opacity = 0.9
blur = true
option_as_alt = "Both"

[font.normal]
family = "MesloLGS NF"

[cursor.style]
shape = "Beam"
blinking = "On"

# vim:ft=toml
