import = [
    "~/.themes/tokyonight.nvim/extras/alacritty/tokyonight_night.toml"
]

working_directory = {{ .chezmoi.homeDir | quote }}

{{ if eq .chezmoi.os "windows" -}}
[shell]
program = "pwsh"
{{- end }}

[window]
padding.x = 5
padding.y = 5
decorations = "Transparent"
opacity = 0.9
blur = true
option_as_alt = "Both"

[font.normal]
family = {{ .font | quote }}

[cursor.style]
shape = "Beam"
blinking = "On"

# vim:ft=toml
