{
  "$schema": "https://raw.githubusercontent.com/LGUG2Z/komorebi/master/schema.json",
  "app_specific_configuration_path": "$Env:KOMOREBI_CONFIG_HOME/applications.yaml",
  "window_hiding_behaviour": "Cloak",
  "cross_monitor_move_behaviour": "Insert",
  "default_workspace_padding": 5,
  "default_container_padding": 5,
  "border": true,
  "border_implementation": "Windows",
  "border_width": 0,
  "border_offset": -1,
  "theme": {
    "palette": "Base16",
    "name": "TokyoNightTerminalDark"
  },
  "stackbar": {
    "height": 40,
    "mode": "OnStack",
    "tabs": {
      "width": 300
    }
  },
  "monitors": [
    {
      "workspaces": [
{{- $root := . }}
{{- range $index, $workspace := .workspaces }}
        {
          "name": "{{ $workspace }}",
          "layout": "{{ template "komorebi_layout" $root }}"
        },
{{- end }}
      ]
    }
  ]
}
