{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "modules": [
    "title",
    "separator",
    "os",
    "host",
    "datetime",
    "uptime",
    "shell",
    "display",
    "theme",
    "terminal",
    "terminalfont",
    {
      "type": "command",
      "text": "{{ template "fastfetch_editor" . }}",
      "key": "Editor",
    },
    "cpu",
    "gpu",
    "memory",
    "swap",
    "disk",
    "localip",
    "battery",
    "poweradapter",
    "locale",
    "break",
    "colors",
  ],
}

// vim:ft=jsonc
