url: http://localhost:3000
tunnel: 595fd69a-601f-4e73-a47b-a74f9eb03e09
credentials-file: {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.cloudflared{{ .chezmoi.pathSeparator }}595fd69a-601f-4e73-a47b-a74f9eb03e09.json

# vim:ft=yaml
